<section-container bgColor="gray">
  <div class="wrapper grid grid-cols-9 gap-[16px] 800:gap-[24px] 1200:gap-[32px]">
    <div class="col-span-4">
      <section-heading
        heading="Fulfil - online ta'lim markazi"
        description="Hozirgi faoliyatimiz onlayn maktablar qurish, onlayn kurslarni masshtablashtirish va aktiv 1500+ o'quvchilar"
      />

      <div class="flex flex-col gap-6 pt-10">
        <h3 class="text-[20px] 800:text-[24px] 1200:text-[28px] font-bebas leading-[1]">Rivojlanish tarixi</h3>

        <div class="grid grid-cols-2 gap-x-4">
          @for (item of history; track item.year; let last = $last) {
            <div class="col-span-2 flex items-start gap-5">
              <div class="flex flex-col h-full pb-1">
                <div class="text-[20px] 800:text-[24px] 1200:text-[28px] text-[#8D929F] font-bebas leading-[1.1]">
                  {{ item.year }}
                </div>
                @if (!last) {
                  <div class="w-1/2 flex-grow border-r-2 border-r-[#DCDFE7]"></div>
                }
              </div>

              <div class="flex flex-col gap-3 leading-[1.2]">
                <div class="text-[16px] 800:text-[18px] 1200:text-[20px]">
                  {{ item.title }}
                </div>
                <p class="font-[300] text-[#474B56] pb-6">
                  {{ item.description }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="col-span-5 grid grid-cols-2 gap-[16px] 800:gap-[20px] 1200:gap-[24px]">
      <div class="self-end aspect-[460/695] rounded-[6px] 800:rounded-[8px] 1200:rounded-[12px] overflow-hidden">
        <image class="w-full h-full" src="images/history/image-1.jpg"/>
      </div>
      <div class="aspect-[460/695] rounded-[6px] 800:rounded-[8px] 1200:rounded-[12px] overflow-hidden">
        <image class="w-full h-full" src="images/history/image-2.jpg"/>
      </div>
    </div>
  </div>
</section-container>
